<% function capitalizeFirstChar(string) {
    return string.charAt(0).toUpperCase() + string.slice(1)
} %>

<!-- <a href="/pokemon">Pokemon</a> -->
<div>
    <form action="/pokemon" method="GET">
        <input type="hidden" id="prevRegion" value="<%= typeof(prevRegion) != 'undefined' ? prevRegion : 1 %>">
        <input type="text" name="name" value="<%= typeof(searchOptions) != 'undefined' ? searchOptions : '' %>">
        <button type="submit">Search</button>
        <select id="generation" name="generation">
            <option value="1">Kanto</option>
            <option value="2">Johto</option>
            <option value="3">Hoenn</option>
            <option value="4">Sinnoh</option>
            <option value="5">Unova</option>
            <option value="6">Kalos</option>
            <option value="7">Alola</option>
            <option value="8">Galar</option>
        </select>
    </form>
    <br>
    <div class="pokemon-grid">
        <% pokemon.forEach(p => { %>
                <div class="pokemon-container">
                    <div class="sprite-frame">
                        <a href='/pokemon/<%= p.name %>'>
                            <img src="<%= p['sprites']['front_default'] %>">
                        </a>                      
                    </div>
                    <div class="pokemon-name-text">
                        <%= capitalizeFirstChar(p['name']) %>
                    </div>
                    <table class="pokemon-types-text">
                        <tbody>
                            <tr>
                                <script>console.log('<%= p['color1'] %>');</script>
                                <td style="width: 70px; border-radius: 2px; background: <%= p['color1'] %>;">
                                    <span>
                                        <b><%= p['type1'] %></b>
                                    </span>
                                </td>
                                <% if (typeof(p['color2']) != 'undefined') { %>
                                    <td style="width: 70px; border-radius: 2px; background: <%= p['color2'] %>;">
                                        <span>
                                            <b><%= p['type2'] %><b>
                                        </span>
                                    </td>
                                <% } %>                       
                            </tr>
                        </tbody>
                    </table>
                </div>               
        <% }) %>
    </div>        
</div>
<script>
    var dropdown = document.getElementById("generation");
    var prevRegion = document.getElementById("prevRegion");
    dropdown.value = typeof(prevRegion) != 'undefined' ? prevRegion.value : 1;
</script>